{% extends 'base.html' %}
{% load i18n staticfiles %}
{% block content %}
<div id="news_wrapper">
    <div class="pathway">
        <a href="{% url news-list %}">{% trans 'News' %}</a> / <a href="{% url news news.id %}">{{ news.title }}</a>
    </div>
    <div id="content">
        <h1>{{ news.title }}</h1>
        <img class="lazy" data-original="{{ news.image.url }}" src="{% static 'images/900x347.png' %}" alt="{{ news.title }}">
        <p>{{ news.content|safe }}</p>
        <div class="clearing"></div>
    </div>
</div>
{% endblock %}
