{% extends 'base.html' %}
{% load i18n thumbnail %}
{% block content %}
<div id="products_detail_wrapper">
    <div class="pathway">
        <a href="{% url index %}">Home</a> / <a href="{% url categories %}">Products</a> / <a href="{% url categories %}#p{{ model.series.make.category.id }}">{{ model.series.make.name }} {{ model.name }}</a>
    </div>
    <div class="sidebar left">
        <h3>{{ model.name }}</h3>
        <p>{{ model.description|safe }}</p>
        <table class="style1">
            <thead>
                <tr>
                    <th>{% trans 'Year' %}</th>
                    <th>{% trans 'Type' %}</th>
                    <th>{% trans 'Material' %}</th>
                    <th>{% trans 'Specs' %}</th>
                </tr>
            </thead>
            <tbody>
                {% for product in model.products.all %}
                <tr>
                    <th>{{ product.year }}</th>
                    <th>{{ product.name }}</th>
                    <td>{{ product.material }}</td>
                    <td>{{ product.specs }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div id="content" class="right img_box">
        {% for image in model.images.all %}
        <a href="{% thumbnail image.image 600x600 crop %}" title="{{ image.name }}"><img src="{% thumbnail image.image 50x50 crop %}" class="img_item" alt="{{ image.name }}"  /></a>
        {% endfor %}
    </div>
</div>
{% endblock %}
