{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
    <div id="dealer_wrapper">
        <img class="lazy" data-original={% static 'images/map.jpg' %} src="{% static 'images/900x347.png' %}">
        <h1>御霖企業集團成員 / Members of Yuh Lin Auto Group</h1>
        <ul class="dealer_list">
            <li class="header">總部：台灣御霖興業有限公司 / TAIWAN Headquarters</li>
            <li class="s_data_left"><i class="m_icon-tel"></i>：(+886) 2-2297-3939</li>
            <li class="s_data_right"><i class="m_icon-msn"></i>：(+886) 2-2297-3737</li>
            <li class="s_data_left"><i class="m_icon-skype"></i>：tw-yuhlinauto</li>
            <li class="s_data_right"><i class="m_icon-mail"></i>：<a href="mailto:yuhlinauto@outlook.com">yuhlinauto@outlook.com</a></li>
            <li><i class="m_icon-qq"></i>：2539183087 / 1277915053 / 2228335193 / 2271866483</li>
        </ul>
        <ul class="dealer_list last">
            <li class="header">華北經銷商：北京御京商貿有限公司 / CHINA Beijing Dealer</li>
            <li><i class="m_icon-tel"></i>：(+86) 10-8735-4099 / (+86) 10-8735-5099</li>
            <li class="s_data_left"><i class="m_icon-skype"></i>：bj-yuhlinauto</li>
            <li class="s_data_right"><i class="m_icon-mail"></i>：<a href="mailto:yuhlinauto@126.com">yuhlinauto@126.com</a></li>
            <li><i class="m_icon-qq"></i>：2355287412 / 2355287413 / 2355287414 / 2355287415</li>
        </ul>
        <ul class="dealer_list">
            <li class="header">華南經銷商：廣州御廣商貿有限公司 / CHINA Guangzhou Dealer</li>
            <li><i class="m_icon-tel"></i>：(+86) 20-2337-2337 / (+86) 20-2215-2215</li>
            <li class="s_data_left"><i class="m_icon-skype"></i>：gz-yuhlinauto</li>
            <li class="s_data_right"><i class="m_icon-mail"></i>：<a href="mailto:yuhlinauto@163.com">yuhlinauto@163.com</a></li>
            <li><i class="m_icon-qq"></i>：2355287411 / 2355287420 / 2355287421 / 2355287423</li>
        </ul>
        <ul class="dealer_list last">
            <p>Office Hour：Mon - Sun 09:00 - 18:00 (GMT+8)</p>
            <p>Should you have any enquiries, please feel free to contact us.</p>
            <p>營業時間：星期一至星期日 09:00 - 18:00 (GMT+8)</p>
            <p style="padding-bottom: 6px;">關於我們的產品，如有任何洽詢歡迎寫信或來電至台灣總部或各地經銷商。</p>
        </ul>
        <div class="clearing"></div>
    </div>
{% endblock %}
